@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto+Slab:wght@200;300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: aliceblue;
}

body {
    background-color: rgb(17, 18, 22);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.category {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(64, 64, 78);
}
.category-label-wrapper {
    display: flex;
    align-items: center;
    gap: 7px;
}
.category-name {
    white-space: nowrap;
    margin-bottom: 10px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 500;
    transition: all 0.3s ease-in;
}
/* Custom color schems for different categories */
#best-sellers h2 {
    background-image: linear-gradient(
        to right,
        #b4e61f,
        #ef2d1f 50%,
        aliceblue 50%
    );
}

#new-releases h2 {
    background-image: linear-gradient(
        to right,
        #e61fdf,
        #1fef42 50%,
        aliceblue 50%
    );
}

#sales h2 {
    background-image: linear-gradient(
        to right,
        #335ff0,
        #1fefa6 50%,
        aliceblue 50%
    );
}

.category-name:hover {
    background-position: 0%;
}

.book-list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.book {
    width: 33%;
    display: flex;
    gap: 20px;
}

.book-img-wrapper {
    width: 50%;
}

.book-img {
    width: 100%;
    border-radius: 2%;
    border: 1px solid rgb(64, 64, 78);
    box-shadow: 0 0 20px 5px rgb(39, 52, 68);
    transition: all ease-out 200ms;
}

.book-img:hover {
    box-shadow: 0 0 20px 7px rgb(60, 80, 105);
}

.book-desc {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 5px;
}

.book-name {
    font-family: "Roboto Slab", "serif";
    font-size: 2rem;
    font-weight: 500;
}

.book-name:hover {
    text-decoration: underline;
}

.book-author {
    font-family: "Roboto Slab", "serif";
    font-weight: 300;
    font-style: italic;
    margin-bottom: 10px;
}

.book-price {
    font-family: "Roboto Slab", "serif";
    font-weight: 300;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 20px;
    border: aliceblue 1px solid;
    transition: all ease-in-out 200ms;
    margin-bottom: 10px;
}

.book-price:hover {
    background-color: aliceblue;
    color: black;
    content: "Shop Now!";
}

.discounted-price {
    background-color: #ef2d1f;
}

.original-price {
    text-align: center;
    text-decoration: line-through;
    font-family: "Roboto Slab", "serif";
    font-size: 1.2rem;
    color: rgb(104, 104, 126);
    margin-top: 5px;
    margin-bottom: 10px;
}

.icons {
    align-self: center;
    display: flex;
    gap: 10px;
}

.icon-wrapper {
    width: 30px;
    height: 30px;
    background-color: rgb(239, 98, 47);
    border-radius: 50%;
    transition: all ease-in-out 200ms;
}

.icon-wrapper:hover {
    background-color: aliceblue;
}

.icons img {
    width: 20px;
    margin: 5px;
}

@media screen and (max-width: 1000px) {
    .category {
        border: none;
    }
    .book-list {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0;
    }

    .book {
        width: max(300px, 100%);
        padding-bottom: 20px;
        margin-top: 20px;
        border-bottom: 2px solid rgb(64, 64, 78);
    }
    .category-name {
        background-position: 0%;
    }
}
