@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto+Slab:wght@200;300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: aliceblue;
}
/* Global Variables */
:root {
    --header-background-color: #161b22;
    --text-color: aliceblue;
    --border-color: rgb(64, 64, 78);
    --unhighlighted-color: rgb(100, 100, 121);
}

body {
    background-color: rgb(17, 18, 22);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
