/* 
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Bui Dang Khoa
ID: s3978482

This contains the CSS for the banner component.
*/

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid rgb(64, 64, 78);
}
