/* This is the formatting for the book preview (in category page)
 NOT the detailed page of the book */

.book-list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.book {
    width: 33%;
    display: flex;
    gap: 20px;
}

.book-img-wrapper {
    width: 50%;
}

.book-img {
    width: 100%;
    border-radius: 2%;
    border: 1px solid rgb(64, 64, 78);
    box-shadow: 0 0 20px 5px rgb(39, 52, 68);
    transition: all ease-out 200ms;
}

.book-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 7px rgb(60, 80, 105);
}

.book-desc {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 5px;
}

.book-name {
    font-family: "Roboto Slab", "serif";
    font-size: 2rem;
    font-weight: 500;
}

.book-name:hover {
    text-decoration: underline;
}

.book-author {
    font-family: "Roboto Slab", "serif";
    font-weight: 300;
    font-style: italic;
    margin-bottom: 10px;
}

.book-price {
    font-family: "Roboto Slab", "serif";
    font-weight: 300;
    font-size: 1.3rem;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    border: aliceblue 1px solid;
    transition: all ease-out 300ms;
    margin-bottom: 5px;
}

/* Hide orginal price on hover */
.book-price:hover {
    font-size: 0;
    background-color: aliceblue;
    color: black;
}

/* Add "Shop Now!" message to element on hover */
.book-price:hover:after {
    font-size: 1.3rem;
    content: "Shop Now!";
}

.discounted-price {
    background-color: #ef2d1f;
}

.sakura-price {
    background-color: #ef6182;
}

.green-price {
    background-color: #288737;
}

.original-price {
    text-align: center;
    text-decoration: line-through;
    font-family: "Roboto Slab", "serif";
    font-size: 1.2rem;
    color: rgb(104, 104, 126);
    margin-bottom: 10px;
}

.icons {
    display: flex;
    gap: 15px;
    align-self: flex-start;
    align-items: end;
    flex: 1;
}

.icon-wrapper {
    width: 30px;
    aspect-ratio: 1/1;
    background-color: rgb(239, 98, 47);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 200ms;
}

.icon-wrapper:hover {
    background-color: aliceblue;
}

.icons img {
    width: 17px;
    margin: 5px;
}

@media screen and (max-width: 1000px) {
    .book-list {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0;
    }

    .book {
        width: 100%;
        padding-bottom: 20px;
        margin-top: 20px;
        border-bottom: 2px solid rgb(64, 64, 78);
    }
    .icons {
        align-items: start;
        align-self: center;
    }
}

@media screen and (max-width: 400px) {
    .book-name {
        font-size: 1.2rem;
    }
}
