.category {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(64, 64, 78);
    width: 80%;
}

.category-name {
    white-space: nowrap;
    margin-bottom: 10px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}
/* Animations for the Special offers category  */
@keyframes rotate-gradient {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

#sales .category-name {
    background-image: linear-gradient(
        to right,
        rgb(233, 63, 16) 10%,
        #5379f5,
        #ef1faa
    );
    animation-name: rotate-gradient;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-weight: 700;
}

/* Custom color schems for different categories */

#fiction .category-name {
    background-image: linear-gradient(
        to right,
        #335ff0,
        #1fefa6 50%,
        aliceblue 50%
    );
}

#nonfiction .category-name {
    background-image: linear-gradient(
        to right,
        #b4e61f,
        #ef2d1f 50%,
        aliceblue 50%
    );
}

#textbooks .category-name {
    background-image: linear-gradient(
        to right,
        #e61fdf,
        #1fef42 50%,
        aliceblue 50%
    );
}

.category-name:hover {
    background-position: 0%;
}

@media screen and (max-width: 960px) {
    .category {
        border: none;
    }
    .category-name {
        background-position: 0%;
    }
}
