#page-title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 20px;
    width: 80%;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.category {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(64, 64, 78);
    width: 80%;
}

.default-category-name {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: aliceblue;
}

.category-name {
    /* white-space: nowrap; */
    margin-bottom: 10px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

/* Custom color schemes*/

.icy-mint {
    background-image: linear-gradient(
        to right,
        #335ff0,
        #1fefa6 50%,
        aliceblue 50%
    );
}

.fiery-lime {
    background-image: linear-gradient(
        to right,
        #b4e61f,
        #ef2d1f 50%,
        aliceblue 50%
    );
}

.pink-green {
    background-image: linear-gradient(
        to right,
        #e61fdf,
        #1fef42 50%,
        aliceblue 50%
    );
}

/* Gradient scroll on hover effect */
.category-name:hover {
    background-position: 0%;
}

/* Full gradient (without scroll) */
.full-gradient {
    background-position: 0%;
}

/* Moving Gradients  */

@keyframes rotate-gradient {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

/* Color schemes for moving gradients */
.moving-red-blue-pink {
    background-image: linear-gradient(
        to right,
        rgb(233, 63, 16) 10%,
        #5379f5,
        #ef1faa
    );
}

.moving-fiery-lime {
    background-image: linear-gradient(to right, #b4e61f, #ef2d1f);
}

.moving-gradient {
    animation-name: rotate-gradient;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-weight: 700;
}

@media screen and (max-width: 960px) {
    .category {
        border: none;
        margin-top: 10px;
    }
    .category-name {
        font-size: 1.8rem;
        background-position: 0%;
        margin-bottom: 0;
    }

    #page-title {
        font-size: 1.8rem;
    }
}
