/* 
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Bui Dang Khoa
ID: s3978482

This contains the CSS for the charity section.
*/

.charity-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 40px;
}

.charity-section-label {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    align-self: center;
}

.charity-section-tagline {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    color: rgb(113, 121, 126);
    align-self: center;
}

.charity {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(64, 64, 78);
}

.charity:last-child {
    border-bottom: none;
}

.charity-video {
    width: 400px;
    border: none;
}

.charity-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.charity-label {
    display: flex;
    align-items: center;
    gap: 15px;
}

.charity-name {
    font-family: "Roboto Slab", serif;
    font-size: 1.8rem;
    font-weight: 500;
}

.charity-name:hover {
    text-decoration: underline;
}

.charity-logo {
    width: 70px;
    object-fit: contain;
}

#book-aid-logo {
    border-radius: 50%;
}

.charity-desc {
    font-family: "Roboto Slab", serif;
}

.charity-link {
    font-weight: 500;
    display: block;
    align-self: flex-start;
    padding: 10px;
    background-color: var(--main-orange);
    border-radius: 20px;
    text-align: center;
    transition: all ease-in-out 200ms;
}

.charity-link:hover {
    background-color: var(--text-color);
    color: black;
}

@media screen and (max-width: 768px) {
    .charity {
        gap: 10px;
    }
    .charity-section-label {
        font-size: 1.8rem;
    }
    .charity-video {
        width: 50vw;
    }
    .charity-desc {
        display: none;
    }
    .charity-logo {
        display: none;
    }

    .charity-name {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .charity {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        margin-top: 30px;
    }
    .charity-video {
        width: 100%;
    }
    .charity-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .charity-name {
        font-size: 1.2rem;
        text-align: center;
    }
    .charity-link {
        font-size: 0.8rem;
        align-self: center;
    }
}
