/* 
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Bui Dang Khoa
ID: s3978482

This contains the CSS for the contact form.
*/

#page-title {
    font-size: 2rem;
    font-weight: 500;
    margin: 25px 0;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    gap: 20px;
    box-shadow: 0 0 10px 2px var(--shadow-color);
}

.field-label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Selects and Input fields that are not radio or checkbox */
select,
textarea,
#contact-form
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
    width: 50%;
    height: 30px;
    background-color: var(--background-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    resize: none;
}

textarea {
    height: 100px;
}

option {
    background-color: var(--background-color);
    color: black;
    border-radius: 5px;
}

.clickable-field {
    margin-left: 40px;
}

#notes textarea {
    width: 80%;
}

.buttons {
    width: 100%;
    align-self: center;
    display: flex;
    gap: 10%;
}

#submit-btn,
#reset-btn {
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    width: 60%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.2s ease-in-out;
}

#submit-btn {
    background-color: var(--main-orange);
}

#submit-btn:hover {
    cursor: pointer;
    background-color: var(--text-color);
    color: black;
}

#reset-btn {
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
}
#reset-btn img {
    width: 20px;
}

#reset-btn:hover {
    cursor: pointer;
    background-color: rgb(39, 51, 63);
}

#reset-btn:hover img {
    animation: rotate-icon 0.5s ease-in-out;
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    #contact-form {
        width: 80%;
        gap: 15px;
    }

    .input-wrapper {
        width: 100%;
        flex-direction: column;
        gap: 5px;
    }
    #notes textarea {
        width: 100%;
    }
    select,
    #contact-form
        input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
        width: 100%;
    }
}
