footer {
    width: 100%;
    margin-top: auto;
}

footer nav {
    height: 100px;
}

footer nav ul {
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 5%;
}

footer nav li {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer nav a {
    font-size: 1.2rem;
    color: rgb(100, 100, 121);
    transition: all ease-in-out 200ms;
}

footer nav a:hover {
    color: aliceblue;
}
@media screen and (max-width: 768px) {
    footer nav ul {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }
    footer nav li {
        width: 20%;
    }
    footer nav a {
        font-size: 1.2rem;
    }
}
