:root {
    --header-background-color: #161b22;
    --text-color: aliceblue;
}
nav a {
    white-space: nowrap;
}

header {
    width: 100%;
    position: relative;
    background-color: var(--header-background-color);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(64, 64, 78);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo img {
    width: 70px;
}

/* Effect coutesy of https://stackoverflow.com/questions/54783325/how-can-i-style-the-first-letter-and-apply-this-linear-gradient-animation */
.logo h1 {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
        to right,
        #8b73f6,
        #ec6328 50%,
        aliceblue 50%
    );
    background-size: 200% 100%;
    background-position: 80%;
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.logo h1:hover {
    background-position: 0%;
}

#menu-bar {
    display: none;
}

header nav {
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
}

header nav ul {
    display: flex;
    gap: 1vw;
    font-size: 1.2rem;
}

header nav a,
.login {
    transition: all ease-in-out 200ms;
    border-radius: 15px;
    padding: 7px 10px;
}

header nav a:hover,
.login:hover {
    position: relative;
    background-color: var(--text-color);
    color: var(--header-background-color);
}

.login-signup {
    display: flex;
    gap: 10px;
    margin-right: 30px;
    align-items: center;
    font-size: 1.2rem;
}

.signup {
    background-image: linear-gradient(
        to bottom right,
        rgb(89, 52, 235),
        #ff792c
    );
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 500;
    transition: all ease-in-out 200ms;
    border: 2px solid var(--header-background-color);
    white-space: nowrap;
}

.signup:hover {
    border: 2px solid var(--text-color);
}

@media screen and (max-width: 1000px) {
    .logo {
        display: block;
    }
    .logo h1 {
        display: none;
    }

    .login-signup {
        margin: 0;
        gap: 5px;
    }

    header nav ul {
        gap: min(10px, 5vw);
    }

    header a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .logo h1 {
        display: none;
    }
    .login-signup {
        display: none;
    }
    header {
        flex-direction: column;
        justify-content: space-evenly;
    }

    header nav {
        display: none;
    }

    #menu-bar {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
    }

    #menu-bar:hover + #navbar {
        display: block;
        width: 100%;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    header nav ul li {
        display: inline;
        border: 1px solid rgb(64, 64, 78);
        padding: 10px 0;
    }

    header nav:hover {
        display: block;
        width: 100%;
    }

    header nav a:hover {
        background-color: var(--header-background-color);
        color: var(--text-color);
    }
}
